AI Agents/RAG Orchestrator/Document Retriever.json
{
  "name": "Document Retriever",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        0
      ],
      "id": "bdc768cc-db65-4784-8f19-9a34c79ab873",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Retreive document from Supabase Vector Database. Here is the information: {{ $json.query }}",
        "options": {
          "systemMessage": "You are the Document Retriever AI Agent.\n\nYour responsibility is to:\n\nRetrieve all relevant information for the input task.\n\nProduce detailed, well-structured, human-readable output.\n\nSave the retrieved content into the data table with columns: task_id, contents, status.\n\nRules for Retrieval\n\nDetailed output:\n\nInclude all information relevant to the task.\n\nDo not omit key details.\n\nWell-structured and readable:\n\nOrganize content logically.\n\nUse paragraphs and headings if needed.\n\nAvoid cramming everything into a single paragraph.\n\nDo not include explanations, metadata, or commentary.\n\nOutput only the retrieved content.\n\nInput\n\nYou will receive:\n\n{\n  \"task_id\": \"<task_id>\",\n  \"query\": \"<text_to_retrieve>\"\n}\nOutput Steps\n\nRetrieve the documents or information corresponding to the query.\n\nFormat the output in human-readable paragraphs.\n\nSave output into data table using your tool access:\n\n{\n  \"task_id\": \"<task_id>\",\n  \"contents\": \"<retrieved_and_structured_content>\",\n  \"status\": \"success\"\n}\n\ntask_id → from input\n\ncontents → detailed and structured retrieval output\n\nstatus → \"success\"\n\nReturn a JSON response confirming completion:\n\n{\n  \"task_id\": \"<task_id>\",\n  \"status\": \"success\",\n  \"message\": \"Document retrieved and saved successfully\"\n}\nStrict Rules\n\nAlways return valid JSON.\n\nDo not output plain text, markdown, or commentary outside the contents field.\n\nPreserve logical structure and human readability in contents.\n\nDo not modify task_id.\n\nInclude all relevant information for the task query."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "60d81607-ffe5-49cb-aace-46765bb2be67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "vertex-ai-488112",
          "mode": "list",
          "cachedResultName": "Vertex AI"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "14e5034b-87b3-415d-ac8b-41a291387a6a",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "o67L5Y5zuRfyoxMg",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve document contents in Supabase Vector Database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        208
      ],
      "id": "4537f4a6-c505-4f20-bec7-f6530e4e1f3b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "sKqZDk1Csr8HKJOQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "vertex-ai-488112",
          "mode": "list",
          "cachedResultName": "Vertex AI"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        624,
        432
      ],
      "id": "c3735fd4-c3d7-4c57-8282-f6455c10f095",
      "name": "Embeddings Google Vertex",
      "credentials": {
        "googleApi": {
          "id": "o67L5Y5zuRfyoxMg",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insert Report",
        "dataTableId": {
          "__rl": true,
          "value": "wIzHNabjp9TUIDNk",
          "mode": "list",
          "cachedResultName": "Report Generator",
          "cachedResultUrl": "/projects/K28LUR3COvnOlr1i/datatables/wIzHNabjp9TUIDNk"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', ``, 'string') }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}",
            "Contents": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contents', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contents",
              "displayName": "Contents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        464,
        224
      ],
      "id": "a6db16cb-5500-489f-82ba-083321c283e1",
      "name": "Insert Document Contents"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "policy about workplace professionalism and conduct"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Contents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "37d06851-516b-454c-8164-8786f8d37109",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62726461b49b176cf1cc5c6f40ded7a70dacabee26b284e59974d37e6b78717e"
  },
  "id": "MkHF3Nlhv20o7bTS",
  "tags": []
}